{% extends 'base.html.twig' %}

{% block title %}Restablecer tu contraseña{% endblock %}

{% block body %}
    <h1>Restablecer tu contraseña</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Restablecer contraseña</button>
    {{ form_end(resetForm) }}
{% endblock %}
