{% extends 'base.html.twig' %}

{% block title %}Edit Presupuesto{% endblock %}

{% block body %}
    <h1>Edit Presupuesto</h1>

    {{ include('presupuesto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_presupuesto_index') }}">back to list</a>

    {{ include('presupuesto/_delete_form.html.twig') }}
{% endblock %}
