{% extends 'base.html.twig' %}

{% block title %}Edit Years{% endblock %}

{% block body %}
    <h1>Edit Years</h1>

    {{ include('years/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_years_index') }}">back to list</a>

    {{ include('years/_delete_form.html.twig') }}
{% endblock %}
