{% extends 'base.html.twig' %}

{% block title %}Edit Voluntarios{% endblock %}

{% block body %}
    <h1>Edit Voluntarios</h1>

    {{ include('voluntarios/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_voluntarios_index') }}">back to list</a>

    {{ include('voluntarios/_delete_form.html.twig') }}
{% endblock %}
