<form method="post" action="{{ path('app_resumen_delete', {'id': resuman.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resuman.id) }}">
    <button class="btn">Delete</button>
</form>
